.pokemon-table {
  margin: 20px auto;
  border-collapse: collapse;
  width: 90%;
  text-align: left;
}

.pokemon-table th,
.pokemon-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.path {
  display: inline-block;
  padding: 5px 10px;
  margin: 2px;
  border-radius: 5px;
  color: #fff;
  font-size: 12px;
}
